.add-products {
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .add-products {
    padding-bottom: 76px;
  }
}

@media (min-width: $desktop-width) {
  .add-products {
    padding: 0 110px;
    margin-bottom: 86px;
  }
}

.add-products__header {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: $regular;
  margin-bottom: 49px;
}

@media (min-width: $tablet-width) {
  .add-products__header {
    font-size: 36px;
    line-height: 36px;
  }
}

.add-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .add-products__list {
    margin-bottom: 69px;
  }
}

.add-products__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-top: 1px solid $special-grey;
  padding-top: 13px;
  padding-bottom: 13px;
}

@media (min-width: $tablet-width) {
  .add-products__item {
    border: 1px solid $special-grey;
    padding: 28px 38px;
  }
}

.add-products__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .add-products__wrapper {
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .add-products__wrapper {
    flex-direction: row;
  }
}

.add-products__title {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: $regular;
  margin-bottom: 13px;
}

@media (min-width: $tablet-width) {
  .add-products__title {
    font-size: 20px;
    line-height: 20px;
  }
}

.add-products__amount {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: $tablet-width) {
  .add-products__amount {
    font-size: 16px;
    line-height: 20px;
  }
}

.add-products__price {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: $tablet-width) {
  .add-products__price {
    font-size: 16px;
    line-height: 20px;
  }
}

.add-products__button {
  width: 280px;
  height: 40px;
  color: $basic-white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .add-products__button {
    width: 632px;
  }
}

.add-products__button--green {
  background-color: $basic-green;
}

.add-products__gift {
  padding-top: 35px;
}

@media (min-width: $tablet-width) {
  .add-products__gift {
    padding-top: 0;
  }
}
