.add-products {
  padding-right: 20px;
  padding-bottom: 35px;
  padding-left: 20px;
  position: relative;
}

@media (min-width: $tablet-width) {
  .add-products {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 76px;
  }
}

@media (min-width: $desktop-width) {
  .add-products {
    padding: 0 110px;
    margin-bottom: 86px;
  }
}

@media (min-width: $tablet-width) {
  .add-products::before {
    content: "";
    position: absolute;
    top: 22px;
    left: 0;
    background-color: $basic-green;
    height: 2px;
    width: 100%;
  }
}

.add-products__header {
  font-size: 24px;
  line-height: 24px;
  font-weight: $regular;
  margin-bottom: 36px;
  background-color: $basic-white;
}

@media (min-width: $tablet-width) {
  .add-products__header {
    box-sizing: border-box;
    display: inline-block;
    font-size: 36px;
    line-height: 36px;
    position: relative;
    padding: 0 36px;
  }
}

@media (min-width: $desktop-width) {
  .add-products__header {
    padding-left: 40px;
    margin-left: -40px;
  }
}

.add-products__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .add-products__list {
    margin-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .add-products__list {
    width: 896px;
    margin-bottom: 0;
  }
}

.add-products__item {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $special-grey;
}

@media (min-width: $tablet-width) {
  .add-products__item {
    align-items: baseline;
    border: 1px solid $special-grey;
    padding: 0 38px;
  }
}

@media (min-width: $desktop-width) {
  .add-products__item {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    border-right: none;
    border-left: none;
  }
}

.add-products__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .add-products__wrapper {
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .add-products__wrapper {
    flex-direction: row;
  }
}

.add-products__title {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: $regular;
  margin: 13px 0;
}

@media (min-width: $tablet-width) {
  .add-products__title {
    font-size: 20px;
    line-height: 20px;
    width: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

.add-products__amount {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: $tablet-width) {
  .add-products__amount {
    font-size: 16px;
    line-height: 20px;
    margin-left: auto;
  }
}

.add-products__price {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  margin: 0 0 0 auto;
}

@media (min-width: $tablet-width) {
  .add-products__price {
    font-size: 16px;
    line-height: 20px;
    width: 95px;
    margin-left: unset;
    text-align: right;
  }
}

.add-products__button {
  width: 280px;
  height: 40px;
  color: $basic-white;
  text-transform: uppercase;
  border: none;
  margin-top: 15px;
  margin-bottom: 17px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .add-products__button {
    width: 632px;
  }
}

@media (min-width: $desktop-width) {
  .add-products__button {
    width: 244px;
  }
}

.add-products__button--green {
  background-color: $basic-green;
}

.add-products__gift {
  padding-top: 35px;
}

@media (min-width: $tablet-width) {
  .add-products__gift {
    padding-top: 0;
  }
}
