.cat-data__text {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 39px;
}

.cat-data__fieldset {
  margin-bottom: 49px;
  border: none;
}

.cat-data__label {
  text-transform: uppercase;
}

.cat-data__input {
  text-transform: uppercase;
  margin-bottom: 13px;
}
