.cooperation {
  display: flex;
}

.cooperation__header {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.cooperation__address {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  line-height: 20px;
}
