.developer {
  display: flex;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .developer {
    width: 163px;
    padding-left: 0;
  }
}

.developer__name {
  font-family: "Arial", sans-serif;
  color: $special-dark-grey;
  font-size: 16px;
}
