.example {
  background-color: $background-grey;
}

.example__wrapper {
  display: flex;
}

.example__header {
  font-size: 36px;
  line-height: 40px;
}

.example__number {
  box-sizing: border-box;
  padding-top: 14px;
  padding-right: 43px;
  padding-bottom: 26px;
  padding-left: 43px;
  font-size: 24px;
  line-height: 24px;
  border: 1px solid $special-grey;
  border-radius: 3px;
}

.example__text {
  font-family: "Arial", sans-serif;
}

.example__result {
  line-height: 20px;
  text-transform: uppercase;
}
