.form {
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 0 70px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 0 110px;
  }
}

.form__header {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 26px;
  font-weight: $regular;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .form__header {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__text {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .form__text {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form__list-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .form__list--contacts {
    display: flex;
    justify-content: space-between;
  }
}

.form__fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 49px;
  border: none;
}

.form__item {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.form__label {
  color: $special-dark-grey;
  text-transform: uppercase;
  margin-right: 13px;
}

@media (min-width: $tablet-width) {
  .form__label {
    font-size: 20px;
    line-height: auto;
  }
}

.form__label--radio {
  margin-left: 15px;
}

.form__input {
  flex-grow: 1;
  text-transform: uppercase;
  margin-bottom: 13px;
  height: 45px;
  border: 1px solid $input-border-grey;
}

@media (min-width: $tablet-width) {
  .form__input {
    font-size: 20px;
    height: 52px;
    padding-left: 21px;
  }
}

.form__list {
  list-style: none;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .form__list--additional {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (min-width: $tablet-width) {
  .form__fieldset-button-wrapper {
    display: flex;
  }
}

.form__area {
  width: 280px;
  min-height: 150px;
  text-transform: uppercase;
  color: $special-dark-grey;
  border: 1px solid $input-border-grey;
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .form__area {
    width: 631px;
    min-height: 174px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .form__area {
    width: 1220px;
  }
}

.form__button {
  width: 280px;
  height: 40px;
  color: $basic-white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .form__button {
    width: 282px;
    margin-right: 61px;
  }
}

@media (min-width: $desktop-width) {
  .form__button {
    width: 568px;
  }
}

.form__button--green {
  background-color: $basic-green;
}

.form__required-field {
  font-family: "Arial", sans-serif;
  text-transform: none;
  font-size: 14px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .form__required-field {
    font-size: 16px;
  }
}
