.gift {
  position: relative;
}

.gift__icon {
  position: absolute;
  top: 58px;
  left: 101px;
}

@media (min-width: $tablet-width) {
  .gift__icon {
    top: 57px;
    left: 77px;
  }
}

.gift__slogan {
  margin: 0;
  font-family: "Arial", sans-serif;
  color: $basic-white;
  width: 161px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: 189px;
  left: 60px;
}

@media (min-width: $tablet-width) {
  .gift__slogan {
    top: 71px;
    left: 422px;
  }
}
