.guide {
  margin-bottom: 36px;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .guide {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.guide__header {
  margin: 0;
  padding: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: $regular;
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .guide__header {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.guide__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .guide__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.guide__item {
  display: flex;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .guide__item {
    flex-direction: column;
    width: 230px;
    height: 280px;
    padding-right: 124px;
    position: relative;
  }

  .guide__item::after {
    counter-increment: itemNum;
    content: counter(itemNum);
    position: absolute;
    z-index: -1;
    top: -40px;
    left: 120px;
    width: 70px;
    height: 230px;
    font-family: "Oswald Regular", "Arial", sans-serif;
    font-size: 281px;
    line-height: 281px;
    color: $basic-grey;
  }
}

.guide__image {
  background-color: $basic-green;
  width: 60px;
  height: auto;
}

@media (min-width: $tablet-width) {
  .guide__image {
    margin-bottom: 31px;
    padding: 20px;
  }
}

.guide__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .guide__text {
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
  }
}
