.page-footer {
  background-color: $basic-grey;
}

.socials {
  display: flex;
  list-style: none;
}

.socials__item {
  padding-right: 36px;
}

.page-footer__brand {
  display: block;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 52px;
}
