.page {
  height: 100%;
}

.page__body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: $regular;
  color: $basic-black;
  counter-reset: itemNum;
  position: relative;
}

@media (min-width: $desktop-width) {
  .page__body--index::after {
    content: "";
    position: absolute;
    z-index: -2;
    top: 0;
    right: 0;
    width: 720px;
    height: 696px;
    background-color: $basic-green;
    background-image: url("/img/desktop-background-image.jpg");
    background-size: 720px auto;
  }
}
