.page-header {
  background-color: transparent;
}

@media (min-width: $tablet-width) {
  .page-header {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    margin-top: 53px;
    justify-content: space-between;
  }
}

.page-header__logo {
  display: block;
  height: 38px;
  width: 190px;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    height: 52px;
    width: 174px;
    margin-right: 95px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 59px;
    width: 202px;
    margin-right: 540px;
  }
}
