.page-header {
  background-color: transparent;
  margin-top: 10px;
}

.page-header__logo {
  display: block;
  height: 38px;
  width: 190px;
  margin-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    height: 52px;
    width: 174px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 59px;
    width: 202px;
  }
}
