.page-header {
  background-color: transparent;
  margin-top: 10px;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 59px;
  }
}

.page-header__logo {
  display: block;
  margin-bottom: 22px;
  padding-left: 20px;
  padding-right: 20px;
}
