.product__header {
  font-size: 16px;
  line-height: 20px;
  width: 76px;
  text-transform: uppercase;
  font-weight: $regular;
}

.product__button {
  width: 280px;
  height: 40px;
  color: $basic-white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.product__button--green {
  background-color: $basic-green;
}
