.programs {
  padding: 0 20px;
}

.programs__column {
  background-color: $basic-grey;
}

.program__title {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: $regular;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 91px;
}

.program__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  margin-bottom: 38px;
  width: 227px;
  min-height: 90px;
  padding-left: 20px;
}

.program__title--slim {
  position: relative;
  background-repeat: no-repeat;
}

.program__title--slim::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 23px;
  width: 50px;
  height: 53px;
  background-image: url(/img/slim-cat.svg);
}

.program__title--pro {
  position: relative;
  background-repeat: no-repeat;
}

.program__title--pro::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 10px;
  width: 67px;
  height: 50px;
  background-image: url(/img/weight-cat.svg);
}

.program__link {
  margin: 0;
  padding: 0;
  display: block;
  color: $basic-black;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 19px;
  padding-bottom: 22px;
  position: relative;
}

.program__link::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 120px;
  width: 24px;
  height: 12px;
  background-image: url(/img/catalog-arrow.svg);
}
