.show-more {
  text-align: center;
  margin: 0;
  box-sizing: border-box;
  padding: 0 20px;
}

@media (min-width: $tablet-width) {
  .show-more {
    background-color: $basic-white;
    width: 324px;
    height: 429px;
    border: 2px solid $basic-grey;
  }
}

.show-more__plus {
  background: $plus-color;
  height: 30px;
  position: relative;
  width: 2px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .show-more__plus {
    height: 60px;
    margin-top: 52px;
    margin-bottom: 49px;
  }
}

.show-more__plus:after {
  background: $plus-color;
  content: "";
  height: 2px;
  top: 15px;
  left: -15px;
  position: absolute;
  width: 30px;
}

@media (min-width: $tablet-width) {
  .show-more__plus:after {
    width: 60px;
    top: 28px;
    left: -28px;
  }
}

.show-more__header {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: $regular;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

@media (min-width: $tablet-width) {
  .show-more__header {
    font-size: 20px;
    line-height: 22px;
    width: 134px;
    margin: 0 auto;
    margin-bottom: 23px;
  }
}

.show-more__text {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;
}

@media (min-width: $tablet-width) {
  .show-more__text {
    font-size: 16px;
    line-height: 18px;
    width: 167px;
    margin: 0 auto;
    margin-bottom: 87px;
  }
}

.show-more__button {
  display: block;
  width: 280px;
  height: 40px;
  color: $special-dark-grey;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .show-more__button {
    width: 249px;
  }
}

.show-more__button--grey {
  background-color: $basic-grey;
}
