.site-list__link {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: $medium;
  color: $basic-black;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 10px;
  border-top: 1px solid $border-grey;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .site-list__link {
    border-top: none;
    font-size: 18px;
    line-height: 24px;
    font-weight: $regular;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link {
    font-size: 20px;
    line-height: auto;
  }
}

@media (min-width: $desktop-width) {
  .site-list__link--index {
    color: $basic-white;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item {
    margin-right: 33px;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item--active {
    border-bottom: 2px solid $basic-green;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item--active {
    border-bottom: 2px solid $basic-white;
  }
}
